[buildout]
extends =
    ../../cfgrepo/config/base.cfg
    ../../cfgrepo/config/nginx/nginx-utils.cfg
    ../../cfgrepo/config/nginx/nginx-conf.cfg
    ../../cfgrepo/config/nginx/nginx-balancer.cfg
# always keep the local.cfg at the end of the extends,
# so it will override all values define in the previous cfg files
# make a copy from local-example.cfg to get started.
    local.cfg

############################################
# the nginx-conf-server will be customized in file local.cfg.
# check the examples in file local-sample.cfg.
#
parts = 
    nginx-conf-server

[nginx-conf-server]
file-content =
    ${nginx-balancer-solr:servers}


[nginx-balancer-solr]
upstream-servers = 
    server localhost:8980;
    server localhost:8986;
