############################################################################
#
# buildout config file to build and configure PostgreSQL database server.
#
############################################################################
[buildout]
# cfgrepo is the submodule, we will use it directly.
extends =
    ../cfgrepo/config/base.cfg
    ../cfgrepo/config/db/postgresql-build.cfg
    ../cfgrepo/config/db/postgresql-conf.cfg
    ../buildout-local.cfg
# the superversor will manage the process
    ../cfgrepo/config/supervisor.cfg
# alway keep the local.cfg at the end of the extends,
# so it will override all values define in the previous cfg files
# make a copy from local-example.cfg to get started.
    local.cfg

# save the download local, need create this folder downloads
download-cache = downloads

parts =
    postgresql-build
    postgresql-conf
    supervisor-bin
    supervisor-conf-programs

#######################################
# How to create (initialize) database
#
# $ bin/buildout -N install init-postgresql
#
# this part is defined in file config/db/postgresql-conf.cfg
# the default data directory will be var/postgresql/pgdata
# we could customize the location by 
[init-postgresql]
#datadir = /the/path/to/your/data/dir
datadir = ${settings:postgresql-datadir}

######################################
#
# tweak the input template folder.
[postgresql-conf]
# The default input is
#   cfgrepo/template/db/${:filename}.in
# which requires symlink cfgrepo to current folder.
# we did synlink here, soe need tweak a little bit.
input = ../cfgrepo/template/db/${:filename}.in
# the output foler.
target-folder = ${settings:postgresql-datadir}

####################################
# the superversor configuration file will wire everying together.
#
[supervisor-conf]
# The default input is
#   cfgrepo/template/${:filename}.in
# which requires symlink cfgrepo to current folder.
# we did synlink here, soe need tweak a little bit.
input = ../cfgrepo/template/${:filename}.in
programs =
    ${postgresql-conf:supervisor-program}
