##########################################################################
#
# local settings for PostgreSQL server.
#
##########################################################################

[src-versions]
# version 10.0 is relased on Oct. 5, 2017
# updated version on Aug 31, 2017: 9.6.5, 9.5.9, 9.4.14, 9.3.19
postgresql = 9.3.4

[users]
# running user. keep it same with the user execute init-postgresql
postgresql = ubuntu

[ports]
# default port is 5432
postgresql = 9055

[hosts]
# this should be comma separated ip adresses.
# have 127.0.0.1 will make sure we could use localhost to connect to server.
# We also could use * for all IPs
postgresql-ip = 10.160.192.44,127.0.0.1

[settings]
postgresql-datadir = ${buildout:directory}/var/postgresql/pgdata
