# buildout folders
bin
etc
parts
eggs
develop-eggs
downloads
var

# ignore the buildout configuration files in dub folder.
# the follow files are all symlink to corresponding files in
# main folder.
*/cfgrepo
*/bootstrap.py
*/buildout-dev.cfg
*/buildout-local.cfg
# the new folder structure, 
# all applications buildout configuration will move to apps folder.
apps/*/cfgrepo
apps/*/bootstrap.py
apps/*/buildout-dev.cfg
apps/*/buildout-local.cfg

# ignore the legacy svn folder.
.svn

# buildout temp file .installed.cfg
.installed.cfg

# temp file for vim.
.*.swp

# ignore python development files.
*.pyc
*.pyo
*.egg-info
