[buildout]
extends =
    cfgrepo/config/base.cfg
    buildout-local.cfg

parts =
    build-mariadb
    build-php
    build-nginx
    build-sys
    build-app-phpinfo

[base-build-command]
recipe = collective.recipe.cmd
on_install = true
on_update = true
# put your commands here,
# one line for each command.
cmds = 
    ls -la

[build-mariadb]
<= base-build-command
cmds =
    cd ${settings:mariadb-folder}
    bin/buildout -N

[build-php]
<= base-build-command
cmds =
    cd ${settings:php-folder}
    bin/buildout -N

[build-nginx]
<= base-build-command
cmds =
    cd ${settings:nginx-folder}
    bin/buildout -N

[build-sys]
<= base-build-command
cmds =
    cd ${settings:sys-folder}
    bin/buildout -N

[build-app-phpinfo]
<= base-build-command
cmds =
    cd ${settings:app-phpinfo-folder}
    bin/buildout -N
