[buildout]
extends = 
    ../../cfgrepo/config/proxy/squid-build.cfg
# always keep the local.cfg at the end of the extends,
# so it will override all values define in the previous cfg files
# make a copy from local-example.cfg to get started.
#    local.cfg

parts =
    squid-build
