####################################################################
#
# buildout boilerplate to build and config ZooKeeper cluster
# also known as Ensemble
#
####################################################################

[buildout]
extends = 
    ../cfgrepo/config/base.cfg
    ../cfgrepo/config/supervisor.cfg
    ../cfgrepo/config/zookeeper/zookeeper-build.cfg
    ../cfgrepo/config/zookeeper/zookeeper-conf.cfg
# always keep the local.cfg at the end of the extends,
# so it will override all values define in the previous cfg files
# make a copy from local-sample.cfg to get started.
    local.cfg

parts =
    zookeeper-build
    zoo-log4j-cfg
    supervisor-bin
    supervisor-conf-programs


####################################
# the superversor configuration file will wire everying together.
#
[supervisor-conf]
input = ../cfgrepo/template/supervisor.conf.in
programs =
    ${zookeeper-conf:supervisor-program}

[zookeeper-conf]
# this will set what mode we want for zooKeeper server:
# standalone for cluster?
#zoo-cfg-dir = ${zoo-standalone-cfg:target-folder}
zoo-cfg-dir = ${zoo-cfg:target-folder}
