#########################################################################
#
# local settings for ZooKeeper servers.
#
#########################################################################

[ports]
supervisord = 9108
zookeeper-client-port = 2181

[zoo-cfg]
# the default ports are 2888 and 3888
zoo-servers =
    server.1=zoo1:2888:3888
    server.2=zoo2:2888:3888
    server.3=zoo3:2888:3888

[users]
zookeeper = ubuntu

[settings]
java-build-location = /opt/qa/apps/java/parts/java-build
