[buildout]
parts =
    hello-buildout

########
# simple part to use the cmd recipe to show some message.
#
[hello-buildout]
recipe = collective.recipe.cmd
# set to run at install phase
on_install = true
# default is false, which is not run on update
on_update = true
cmds =
    echo '========================================================='
    echo 'hello buildout!'
    echo '========================================================='
    echo 'some section key pairs:'
    echo '---------------------------------------------------------'
    echo 'buildout:directory = ${buildout:directory}'
    echo 'buildout:parts     = ${buildout:parts}'
    echo ':recipe            = ${:recipe}'
