##################################################################
#
# buildout config for local customization
#
##################################################################

[users]
nginx = ubuntu

[ports]
nginx = 80

[hosts]
frontend-ip = 10.160.192.88
frontend-hostname = dev.vault.leocorn.com 

[settings]
# using absolute path instead of ${buildout:directory} here
# to make sure all other parts have the same value.
base-folder = /usr/rd/leocornus.buildout.boilerplate
# include servers.
nginx-includes = 
    include ${:app-phpinfo-folder}/etc/nginx.conf;
    include ${:app-wpmw-folder}/etc/nginx.conf;
    include ${:app-plone3-folder}/etc/nginx.conf;
    include ${:base-folder}/apps/mediawiki/etc/nginx.conf;
    include ${:base-folder}/apps/omirror/etc/nginx.conf;
    include ${:base-folder}/apps/proxy/etc/nginx.conf;

###########################
#
# folder for the simple PHP application info.
#
app-phpinfo-folder = ${:base-folder}/app-phpinfo
###########################
#
# folder for the php application wpmw.
#
app-wpmw-folder = ${:base-folder}/app-wpmw
###########################
#
# folder for the legacy Plone3 sites.
#
app-plone3-folder = ${:base-folder}/app-plone3
