####################################################################
#
# buildout config file to build nodejs
#
####################################################################
[buildout]
extends = 
    buildout-dev.cfg
    buildout-local.cfg

parts =
    node-bin
    npm-bin
    forever-install
    parsoid-install
    supervisor-bin
    supervisor-conf-programs

####################################
# the superversor configuration file will wire everying together.
#
[supervisor-conf]
programs =
    ${parsoid-conf:supervisor-program}

########################
# set up the URI to MediaWiki api.php
#
[parsoid-conf]
mwApis = - uri: 'http://${hosts:frontend-hostname}/w/api.php'
